<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <form action="#" th:action="@{/add}" th:object="${contacto}" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre" th:field="*{nombre}">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="numero" th:field="*{numero}">
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>
</body>
</html>